{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block title %}Photo statistic{% endblock%}

{% block breadcrumb %}
    <li>
        <a href="{{ path('sonata_admin_dashboard') }}">Dashboard</a>
        <span class="divider">/</span>
    </li>
    <li class="active">Photo list</li>
{% endblock %}
{% block content %}

    <form class="form-horizontal" action="{{ path('all_photo_list') }}" method="POST">
        {% if form.vars.errors|length > 0 %}
            <div class="sonata-ba-form-error">
                {{ form_errors(form) }}
            </div>
        {% endif %}

        <div class="tab-content" style="margin-left: -100px">
            <div class="tab-pane active">
                <fieldset>
                    <div class="sonata-ba-collapsed-fields">
                        {% for field in form.children %}
                            <div class="control-group{% if field.vars.errors|length > 0%} error{%endif%}">
                                {% if(field.vars.name != '_token') %}
                                    <div class="control-label">
                                        {{ form_label(field) }}
                                    </div>
                                {% endif %}

                                <div class="controls sonata-ba-field {% if field.vars.errors|length > 0 %}sonata-ba-field-error{% endif %}">
                                    {{ form_widget(field) }}

                                    {% if field.vars.errors|length > 0 %}
                                        <div class="help-inline sonata-ba-field-error-messages">
                                            {{ form_errors(field) }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </fieldset>
            </div>
        </div>

        {{ form_rest(form) }}
        <input type="submit" class="btn btn-primary" value="Show"/>
    </form>
    <h4 style="text-align: center"><b>From : {{ from }} </b>&nbsp <b>To : {{ to }}</b></h4>

    <table class="table table-bordered table-striped">
        <thead>
        <tr class="sonata-ba-list-field-header">
            <th class="sonata-ba-list-field-header-text">Username</th>
            <th class="sonata-ba-list-field-header-text">Sent photos</th>
            <th class="sonata-ba-list-field-header-text">Received photos</th>
            <th class="sonata-ba-list-field-header-text">Sent reaction photos</th>
            <th class="sonata-ba-list-field-header-text">Received reaction photos</th>
            <th class="sonata-ba-list-field-header-text">Users</th>
        </tr>
        </thead>
        <tr>
            <td>Total</td>
            {% for photo in photos %}
                <td>{{ photo.ph }}</td>
                <td>{{ photo.ph }}</td>
            {% endfor %}
            {% for photo in reaction %}
                <td>{{ photo.ph }}</td>
                <td>{{ photo.ph }}</td>
            {% endfor %}
                <td>{{ count_user }}</td>
        </tr>
    </table>
    <table class="table table-bordered table-striped">
    {% block table_body %}
        <thead>
        <tr class="sonata-ba-list-field-header">
            <th class="sonata-ba-list-field-header-text">Phone</th>
            <th class="sonata-ba-list-field-header-text">Email</th>
            <th class="sonata-ba-list-field-header-text">Username</th>
            <th class="sonata-ba-list-field-header-text">Sent photos</th>
            <th class="sonata-ba-list-field-header-text">Received photos</th>
            <th class="sonata-ba-list-field-header-text">Sent reaction photos</th>
            <th class="sonata-ba-list-field-header-text">Received reaction photos</th>
        </tr>
        </thead>
        <tbody>

        {% for user in users %}
            <tr>
                {% for info in user %}
                    <td class="sonata-ba-list-field sonata-ba-list-field-batch">
                        {{ info }}
                    </td>
                {% endfor %}

            </tr>
        {% endfor %}

        </tbody>
        </table>
    {% endblock %}

{% endblock %}