{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block title %}Change Background Image{% endblock%}

{% block breadcrumb %}
    <li>
        <a href="{{ path('sonata_admin_dashboard') }}">Dashboard</a>
        <span class="divider">/</span>
    </li>
    <li class="active">Change sponsor</li>
{% endblock %}
{% block content %}

    <form class="form-horizontal" action="{{ path('new_sponsor') }}" method="POST" enctype="multipart/form-data">
        {% if success == true %}
            <div class="alert-message success">Background image was successfully changed</div>
        {% elseif error != false %}
            <div class="alert-message error">{{ error }}</div>
        {% endif %}

        <div class="tab-content">
            <div class="tab-pane active">
                <fieldset>
                    <div class="sonata-ba-collapsed-fields">
                        {% for field in form.children %}
                            <div class="control-group{% if field.vars.errors|length > 0%} error{%endif%}">
                                {% if(field.vars.name != '_token') %}
                                    <div class="control-label">
                                        {{ form_label(field) }}
                                    </div>
                                {% endif %}

                                <div class="controls sonata-ba-field {% if field.vars.errors|length > 0 %}sonata-ba-field-error{% endif %}">
                                    {{ form_widget(field) }}

                                    {% if field.vars.errors|length > 0 %}
                                        <div class="help-inline sonata-ba-field-error-messages">
                                            {{ form_errors(field) }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                        {% if url %}
                            <img src="{{ url }}" />
                        {% endif %}

                    </div>
                </fieldset>
            </div>
        </div>

        {{ form_rest(form) }}

        <div class="well well-small form-actions">
            <input type="submit" class="btn btn-primary" value="Add"/>
        </div>
    </form>

{% endblock %}